$js_color: #02bbf4 !default;
$css_color: #d6552e;
$html_color: #b31A39;
$css3_color: #0b55c0;
$html5_color: #1d8aef;
$jquery_color: #dc522d;
$bootstrap_color: #5d39b7;
$avalon_color: #bf1f4b;
$vue_color: #019c00;
