@import '../base/_color';
@import '../base/_reset';
#app {
  height: 100%;
  min-height: 634px;
  .logo,
  .copy {
    text-align: center;
    color: white;
  }
  .article_list {
    width: 70%;
    margin: 0px auto;
    padding: 5px;
  }
  h1 {
    font-size: 50px;
    /* margin: 6px 0px; */
    padding: 10px 0px;
    color: white;
  }
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    width: 24%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  a {
    display: inline-block;
    width: 100%;
    padding: 35% 0%;
    color: white;
    font-size: 35px;
  }
  #js {
    background: $js_color;
    &:hover {
      background: darken($js_color, 10%);
    }
  }
  #html {
    background: $html_color;
    &:hover {
      background: darken($html_color, 10%);
    }
  }
  #css {
    background: $css_color;
    &:hover {
      background: darken($css_color, 10%);
    }
  }
  #css3 {
    background: $css3_color;
    &:hover {
      background: darken($css3_color, 10%);
    }
  }
  #html5 {
    background: $html5_color;
    &:hover {
      background: darken($html5_color, 10%);
    }
  }
  #jquery {
    background: $jquery_color;
    &:hover {
      background: darken($jquery_color, 10%);
    }
  }
  #bootstrap {
    background: $bootstrap_color;
    &:hover {
      background: darken($bootstrap_color, 10%);
    }
  }
  #avalon {
    background: $avalon_color;
    &:hover {
      background: darken($avalon_color, 10%);
    }
  }
  #vue {
    background: $vue_color;
    &:hover {
      background: darken($vue_color, 10%);
    }
  }
}

@media screen and (max-width: 982px) {
  #app a {
    font-size: 14px;
  }
}

#index {
  background: rebeccapurple;
  height: 100%;
}
