.checkall{
    height: 100%;
    .check-form,.check-table{
        border:1px solid #e4e4e4; 
    }
    .el-form--inline{
        padding-top: 22px;
    }
    .check-table{
        margin-top: 8px;
        height: 84%;
    }
    .el-pagination{
        text-align: center;
    }
}