.logo {
	.logo-img {
		display: inline-block;
		/* width: 1.2em; */
		// font-size: 128px;
		text-align: center;
		vertical-align: middle;
	}
	.logo-img img {
		vertical-align: middle;
		padding: 2px; // border: 1px solid #beceeb;
		width: 43px;
		margin-left: 13px;
	}
	.logo-title {
		vertical-align: -5px;
		line-height: 66px;
		font-size: 24px;
		color: #ffffff;
		/* margin-left: 13px; */
		font-weight: bold;
	}
	.logo-user {
		color: white;
		float: right;
		/* vertical-align: 35px; */
		margin-top: 26px;
		margin-right: 26px;
		/* word-spacing: 3px; */
		/* letter-spacing: 2px; */
		cursor: pointer;
	}
	.el-dialog__header{
		background: #409EFF;
		.el-dialog__title{
			color: white;
		}
	}
	.el-dialog__footer{
		text-align: center;
	}
	.el-form-item{
		margin-bottom: 45px;
	}
	.el-form-item:last-child{
		margin: 0px;
	}
}

.header {
	background: #409EFF;
}
